<div class="row justify-content-center">
    <div class="col-md-6">
<h1 class="text-center">MovieMania</h1>
<p class="text-center">Welcome to the best movie Database in the world!</p>


<div id="carouselExampleSlidesOnly" class="carousel slide mt-auto p-2" data-ride="carousel">
  <div class="carousel-inner movieSlide">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@._V1_.jpg" alt="Django-Poster">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX667_CR0,0,667,999_AL_.jpg" alt="Goodfellas-Poster">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg" alt="usualSuspects-Poster">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" alt="PulpFiction-Poster">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_.jpg" alt="Parasite-Poster">
    </div>
</div>
</div>
</div>




{{!-- caroussel movement --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 


  {{!-- <div class="col-md-6">
    <h1>MovieMania</h1>
    <p>Welcome to the best movie Database in the world!</p>


    <div id="carouselExampleSlidesOnly" class="carousel slide mt-auto p-2" data-ride="carousel"></div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/public/images/Django Poster.jpg" class="d-block w-100" alt="Django Poster">
        </div>
        <div class="carousel-item">
          <img src="/public/images/Goodfellas poster.jpg" class="d-block w-100" alt="Goodfellas Poster">
        </div>
        <div class="carousel-item">
          <img src="/public/images/LoveActually-poster.jpg" class="d-block w-100" alt="Love Actually Poster">
        </div>
      </div>
    </div>
  </div>
</div> --}}
